@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

.page {
    background-color: white;
    margin: 0 auto;
    width: 1440px;
    height: 800px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right 100px bottom;
    background-repeat: no-repeat;
}

.paths {
    position: absolute;
}

.top-pattern {
    width: 584px;
}

.bottom-pattern {
    width: 1085px;
}

.top-rectangle {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-top: 127px;
}

.title-square {
    width: 445px;
    margin-right: 125px;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.71px;
    color: #512051;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #927b91;
    font-weight: 500;
}

.ratings-square {
    width: 540px;
    display: block;
}

.rating {
    margin: 0;
    width: 445px;
    height: 56px;
    margin-bottom: 16px;
    background-color: #F7F2F7;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating-text {
    margin: 0;
    color: #512051;
    font-size: 13px;
    line-height: 14.56px;
}

.rating_left {
}

.rating_center {
    margin: 0 auto 16px auto;
}

.rating_right {
    margin: 0 0 0 auto;
}

.star {
    margin-right: 8.45px;
}


.bottom-rectangle {
    width: 1100px;
    height: 266px;
    margin: 0 auto;
    display: flex;
    margin-top: 127px;
    margin-bottom: 100px;
}

.testimonial-square {
    width: 350px;
    height: 234px;
    margin-right: 30px;
    background-color: #512051;
    color: white;
    border-radius: 10px;
}

.testimonial-square:last-child {
    margin-right: 0;
}

.testimonial-square_center {
    margin-top: auto;
    margin-bottom: auto;
}

.testimonial-square_bottom {
    margin-top: auto;
}


.personal-info {
    width: 160px;
    margin-left: 32px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.personal-info__image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.personal-info__text {
    margin: auto;
}

.personal-info__name {
    margin: 0;
    font-size: 13px;
    line-height: 14.56px;
    margin-bottom: 5px;
}

.personal-info__verified {
    margin: 0;
    color: #EE69A4;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.56px;
}

.personal-info__comment {
    margin: 0 auto;
    max-width: 286px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.23px;
    font-weight: 500;
    margin-top: 26px;
}